[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/meheralimeer/my.nvim.git
[submodule ".config/waybar/wiki"]
	path = .config/waybar/wiki
	url = https://github.com/Alexays/Waybar.wiki.git
